.homepage-outer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    min-width: 1200px;
    height: 100vh;
    BORDER: 5px solid black;
}

.homepage-inner-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    flex-basis: 1800px;
    height: 100%;
    BORDER: 5px solid ORANGE;
}

.events-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    height: 350px;
    gap: 50px;
    margin-top: 20px;
    BORDER: 5px solid BLUE;
}